*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#dcdcdc;
}

.header{
background:#27b39d;
color:white;
text-align:center;
padding:30px;
}

.navbar{
background:#1f9d8a;
display:flex;
justify-content:center;
gap:30px;
padding:15px;
}

.navbar a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
background:#eee;
}

.content{
width:80%;
margin:auto;
margin-top:30px;
}

.card{
background:white;
padding:25px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.products{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
padding: 20px;
}

.product{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.product img{
width:200px;
}

button{
background:#27b39d;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#1f9d8a;
}

footer{
background:#1f9d8a;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}
/* Quantity Buttons */

.qty-box{
display:flex;
align-items:left;
justify-content:left;
gap:10px;
margin:10px 0;
}

.qty-btn{
width:35px;
height:35px;
font-size:20px;
font-weight:bold;
background:#27b39d;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.qty-btn:hover{
background:#1f9d8a;
}

.qty-number{
font-size:18px;
font-weight:bold;
width:30px;
text-align:left;
}
#searchInput{
width:350px;
padding:12px;
font-size:16px;
border-radius:8px;
border:1px solid #ccc;
outline:none;
}

#searchInput:focus{
border-color:#27b39d;
}